name: Build & Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.9' ]

    name: Python ${{ matrix.python-version }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Update cache
      run: sudo apt-get update -qq

    - name: Install system prerequisites
      run: sudo apt-get install -yq debspawn

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest pylint mypy black isort
        pip install -r requirements.txt
        pip install toml types-toml

    - name: Build & Install
      run: |
        ./setup.py build
        ./setup.py install --root=/tmp
        rm -rf build/

    - name: Lint (flake8)
      run: |
        python -m flake8 ./ --statistics

    - name: Lint (pylint)
      run: |
        python -m pylint -f colorized ./spark/

    - name: Lint (mypy)
      run: |
        python -m mypy .

    - name: Style check (isort)
      run: |
        python -m isort --diff .

    - name: Style check (black)
      run: |
        python -m black --diff .
